player-connection-mode=Listen
player-connection-guid=1633655859
player-connection-debug=1
player-connection-project-name=Cim220 Horror Project
player-connection-ip=192.168.0.170
gfx-enable-gfx-jobs=1
gfx-threading-mode=6
wait-for-native-debugger=0
wait-for-managed-debugger=0
managed-debugger-fixed-port=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=8fc43703f4a84cfba4ee64353dddbd9b
